:root {
    --dark-background: #2F303A;
    --light-background: #F5F4FA;
    --active-text: #2196F3;
    --main-text: #757575;
    --white-text: #FFFFFF;
    --black-text: #212121;
    --ultra-black-text: #000000;
    --line-color: #ECECEC;
	--logo-primery-color: #AFB1B8; 
    --cubic-value: 0.4, 0, 0.2, 1;
	--animation-time: 250ms;
}